body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: wheat;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
	font-weight: 700;
}

a {
	margin: 1em;
	text-decoration: none;
}

a:hover {
	color: red;
}

.home-container {
	background-color: aliceblue;
}

.about-container {
	background-color: beige;
}

.vans-container {
	background-color: azure;
}

.van-btn {
	text-align: center;
	cursor: pointer;
	border: solid 1px green;
	border-radius: 1em;
}

footer {
	height: 4em;
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	margin-top: auto;
}

.active {
	color: red;
}
